---
layout: default
title:  articles
---
<div class="columns is-centered">
    <h1 class="title">Articles</h1>
</div>
<hr>
<br>
<p>
    <input class="input is-rounded" type="text" placeholder="Search for article or +tag" id="searchTools">
</p>
<br>
<div class="columns is-centered">
    <button onclick="resetFilter()">Reset</button>
</div>
<br>
<table class="table is-striped is-fullwidth is-hoverable" id="toolTime">
    {% for article in site.articles %}
    <tr>
        <td></td>
        <td><a href="{{ article.url }}">{{ article.title }}</a></td>
        <td>{% for tag in article.tags %} <button onclick="queryHandler('+{{ tag }}');">{{ tag }}</button> {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
<script>
clickSearch();
(function () {
    var search = document.getElementById('searchTools');

    search.addEventListener('input', function () {
        var query = search.value.toUpperCase().trim();
        queryHandler(query);
    });
})();
</script>