<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="basicNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="basicNavbar" class="navbar-menu">
    <div class="navbar-start">
      {% for item in site.data.navigation %}
      <a class="navbar-item" href="{{ item.link }}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>