---
---
$accent: #b71c1c;
$lighter: #f05545;
$marked: #7f0000;
$hover: #7f0000;

@import "native.css";

// base tags

body {
    font-family: sans, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    display: block;
    font-size: 2em;
    font-family: 'Roboto', serif;
}

code p {
    padding-top: 0em;
}

nav {
    padding: 20px;
}

p {
    padding-top: 1em;
}

pre {
    margin-top: 10px;
}

pre code {
    display: block;
    padding: 10px;
}

pre p {
    padding-top: 0em;
}

.tagblock li {
    display: inline-block;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

blockquote {
    position: relative;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 0.2em solid $lighter;
    font-family: 'Roboto', serif;
}

blockquote p {
    padding-top: 0em;
}

button {
    background-color: #FFFFFF;
    border: 1px solid $lighter;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: $lighter;
}
button:hover {
    background-color: $hover;
    cursor: pointer;
}

tr:nth-child(even) {
    background: $lighter;
}

// classes

.hidden {
    visibility: collapse;
}

.header {
    padding: 20px;
}

.tagblock a {
    border: 1px solid $lighter;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: $lighter;
}

.tagblock a:hover {
    background-color: $hover;
}

.highlighter-coderay {
    overflow: auto;
}